<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initialscale=1,
    shrink-to-fit=no">
    <link href="../assets/css/estilo.css" rel="stylesheet">
    <title>Ejemplo 1</title>
</head>

<body>
    <nav class="menu">
        <ul>
        <li><a href="https://youtube.com">Inicio</a></li>
        <li><a href="https://facebook.com">Sobre nosotros</a></li>
        <li><a href="https://instagram.com">Contacto</a></li>
        </ul>
    </nav>
        
    <div class="titulo">
        <h1>Bienvenidos a Taller de Programación I</h1>
    </div>
    <div class="parrafo">
        <p>Hoy sólo práctico de configuración</p>
        <p>anana nana nanashe</p>
    </div>
    <footer>
        <p>hola como tamos</p>
    </footer>
</body>
</html> 